affine==2.4.0
argcomplete==3.5.0
asciitree==0.3.3
asttokens==2.4.1
attrs==24.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
blessings==1.7
bokeh==3.6.0
bqplot==0.12.43
branca==0.8.0
cachetools==5.5.0
cads-api-client==1.4.6
Cartopy==0.23.0
cdsapi==0.7.3
certifi==2024.8.30
cf_xarray==0.9.5
cffi==1.17.1
cfgrib==0.9.14.1
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cliffs-delta==1.0.0
cligj==0.7.2
PyYAML>=6.0
cloudpickle==3.0.0
cmasher==1.9.2
cmcrameri==1.9
cmocean==4.0.3
colorcet==3.1.0
colorspacious==1.1.2
colour==0.1.5
comm==0.2.2
configobj==5.0.9
configparser==7.1.0
contextily==1.6.2
contourpy==1.3.0
cycler==0.12.1
dask==2024.9.0
dask-expr==1.1.14
dcor==0.6
debugpy==1.8.6
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
distributed==2024.9.0
donfig==0.8.1.post1
earthengine-api==1.1.1
earthpy==0.9.4
eccodes==2.38.0
eerepr==0.0.4
esa_cci_sm==0.5.0
esda==2.6.0
executing==2.1.0
fasteners==0.19
fastjsonschema==2.21.1
findlibs==0.0.5
fiona==1.10.1
folium==0.18.0
fonttools==4.54.1
fsspec==2024.9.0
future==1.0.0
geemap==0.35.1
geocoder==1.38.1
geographiclib==2.0
geopandas==0.14.4
geopy==2.4.1
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
h2o==3.46.0.6
h5netcdf==1.3.0
h5py==3.11.0
httplib2==0.22.0
idna==3.10
imageio==2.35.1
importlib_metadata==8.5.0
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipyleaflet==0.19.2
ipython==8.27.0
ipytree==0.2.2
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter-leaflet==0.19.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
libpysal==4.12.1
lime==0.2.0.1
llvmlite==0.43.0
locket==1.0.0
lz4==4.3.3
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mercantile==1.2.1
MiniSom==2.3.3
mistune==3.1.1
more-itertools==10.5.0
msgpack==1.1.0
multiurl==0.3.2
mycolorpy==1.5.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.6.5
networkx==3.3
numba==0.60.0
numcodecs==0.13.0
numpy==1.26.4
packaging==24.1
palettable==3.3.3
pandas==2.2.3
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
partd==1.4.2
patsy==0.5.6
pexpect==4.9.0
piecewise-regression==1.5.0
pillow==10.4.0
pip==24.0
pipx==1.7.1
platformdirs==4.3.6
plotly==5.24.1
pooch==1.8.2
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==5.28.2
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pyEDM==2.1.0
pygeobase==0.6.3
pygeogrids==0.5.2
Pygments==2.18.0
pyhomogeneity==1.1
pykdtree==1.3.13
pymannkendall==1.4.3
pynetcf==0.5.1
pyogrio==0.9.0
pyparsing==3.1.4
pyperclip==1.9.0
pyproj==3.6.1
pyresample==1.31.0
pyshp==2.3.1
python-box==7.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==26.2.0
radian==0.6.13
rasterio==1.4.0
ratelim==0.1.6
rchitect==0.4.7
referencing==0.36.2
regionmask==0.13.0
repurpose==0.13.1
requests==2.32.3
rioxarray==0.17.0
rpds-py==0.22.3
rpy2==3.6.0
rpy2-rinterface==3.6.0
rpy2-robjects==3.6.0
rsa==4.9
ruptures==1.1.9
scicomap==1.0.1
scikit-image==0.24.0
scikit-learn==1.5.2
scikit-posthocs==0.11.4
scipy==1.14.1
scooby==0.10.0
seaborn==0.13.2
setuptools==75.2.0
shap==0.46.0
shapely==2.0.6
six==1.16.0
slicer==0.0.8
smecv_grid==0.3
sortedcontainers==2.4.0
soupsieve==2.6
sparse==0.15.4
stack-data==0.6.3
statsmodels==0.14.4
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tigramite==5.2.7.0
tinycss2==1.4.0
tomli==2.0.2
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.5
tqdm_joblib==0.0.4
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.3.1
uritemplate==4.1.1
urllib3==2.2.3
userpath==1.9.2
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.13
xarray==2024.9.0
xee==0.0.15
xesmf==0.8.7
xyzservices==2024.9.0
yapf==0.40.2
zarr==2.18.3
zict==3.0.0
zipp==3.21.0
